*{
    background-color: rgb(255, 187, 0);
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    gap:30px;
}

.timer{
    display:flex;
    align-self: center;
    font-size: 80px;
}

.buttons{
    display: flex;
    gap:20px;
}

button{
    font-size: 35px;
    width:150px;
    border-style:inherit;
    background-color: rgba(138, 98, 24, 0.562);
    border-radius: 5px;
}

button:hover{
    background-color: rgb(255, 167, 2)
}